<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MainContainerPath" value="C:\********"/>
		<add key="TxtFilePath" value="C:\********"/>
		<add key="FileBasePath" value="C:\********"/>
		<add key="DownloadUserID" value="C:\********"/>
		<add key="LogFilePath" value="C:\********"/>
		<add key="DownloadUserID" value="C:\********"/>
		<add key="ConStr" value="C:\********"/>
	</appSettings>
</configuration>