<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.12.29" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.7.9.47" targetFramework="net472" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.7.0-develop00310" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="7.0.0-preview.7.22375.6" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="7.0.0-preview.7.22375.6" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="6.0.0-preview.5.21301.5" targetFramework="net472" />
</packages>